<h1>Editing Learner Dimension Scale</h1>

<%= render 'form', learner_dimension_scale: @learner_dimension_scale %>

<%= link_to 'Show', @learner_dimension_scale %> |
<%= link_to 'Back', learner_dimension_scales_path %>
