<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @learner_style.name %>
</p>

<%= link_to 'Edit', edit_learner_style_path(@learner_style) %> |
<%= link_to 'Back', learner_styles_path %>
