<div class="row" style="margin-top: 20px;">
 <div class="col s6">
 	<h6>
Online Course Design Guidelines for Verbal</h6>
  </div>

 <div class="col s6">
 	<h6>
Online Course Design Guidelines for Visual</h6>
  </div>
</div>